.chat-widget {
	width: 640px;
	height: 480px;
	margin: 3em auto .5em;
	position: relative;

	video {
		position: absolute;
		bottom: 10px; right: 10px;
		background: white;
	}
	
	canvas {
		background: black;
	}
}
